// Copyright © 2021 Vladislav Mikhailov
// Contacts: <vladi.mikh.vm@gmail.com>
// License: http://opensource.org/licenses/MIT

.button_info {
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : fixed;
    width           : @floatButton;
    height          : @floatButton;
    border-radius   : @radiusL;
    right           : @floatButtonRight;
    bottom          : @floatButtonBottom;
    box-shadow      : @shadowM;
    background-color: @colorWhite;
    opacity         : 0;
    z-index         : 1;
    padding         : 0;
    transition      : opacity .2s, right .2s;

    &.visible {
        opacity: 1;
        right  : @floatButtonInfoActive;
    }

    &.active {
        .button_info__info {
            opacity: 0;
        }

        .button_info__back {
            transform: rotate(0deg);
            opacity  : 1;
        }
    }

    @media (min-width: @minDesktopResolution) {
        &:hover {
            svg {
                path {
                    fill: @colorBlack;
                }
            }
        }
    }

    @media (max-width: @maxMobileResolution) {
        &:active {
            transform: scale(.9);
        }
    }

    .button_info__info {
        opacity   : 1;
        transition: opacity .2s;

        path {
            fill      : @colorBase;
            transition: fill .2s;
        }
    }

    .button_info__back {
        position  : absolute;
        transform : rotate(90deg);
        opacity   : 0;
        transition: transform .2s, opacity .2s;

        path {
            fill      : @colorBase;
            transition: fill .2s;
        }
    }

    // If widget is hidden
    &.isHidden {
        right: -20px;

        &.visible {
            opacity: 1;
            right  : @floatButtonRight;
        }
    }
}