// Copyright © 2021 Vladislav Mikhailov
// Contacts: <vladi.mikh.vm@gmail.com>
// License: http://opensource.org/licenses/MIT

.button_send {
    position        : relative;
    display: flex;
    justify-content: center;
    background-color: @colorBase;
    border-radius   : 4px;
    text-transform  : uppercase;
    font-weight     : bold;
    font-size       : 14px;
    letter-spacing  : .1px;
    border          : 0 solid transparent;
    width           : 100%;
    height          : 46px;
    padding         : 14px 34px 14px 25px;
    color           : @colorWhite;
    transition      : opacity .2s, background-color .2s, padding .2s, transform .2s, color .5s;

    &:focus {
        outline: none;
    }
    @media (min-width: @minDesktopResolution) {
        &:focus,
        &:hover {
            background-color: @colorBlack;
        }
    }

    @media (max-width: @maxMobileResolution) {
        &:active {
            transform: scale(.95);
        }
    }

    &.loading {
        color           : transparent;
        background-color: @colorLightGray;
        pointer-events  : none;

        &::after,
        &::before {
            content                  : '';
            display                  : block;
            width                    : 20px;
            height                   : 20px;
            border-radius            : 10px;
            position                 : absolute;
            top                      : 50%;
            left                     : 50%;
            margin-left              : -10px;
            margin-top               : -10px;
            animation-name           : rotation;
            animation-duration       : .5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        &::after {
            border     : 3px solid rgba(255, 255, 255, .0);
            border-left: 3px solid rgba(255, 255, 255, 1);
        }

        &::before {
            border: 3px solid rgba(255, 255, 255, .35);
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    &.invalid {
        color           : @colorDanger;
        background-color: @colorDanger010;
        pointer-events  : none;
    }

    &.success {
        color           : @colorSuccess;
        background-color: @colorSuccess010;
        pointer-events  : none;
        padding         : 14px 25px 14px 25px;

        .button_send__icon {
            margin-right: 8px;
            opacity    : 1;
        }
    }

    .button_send__icon {
        position   : relative;
        margin-right: 0;
        opacity    : 0;
        transition : margin .2s, opacity .2s;

        path {
            fill: @colorSuccess;
        }
    }
}