// Copyright © 2021 Vladislav Mikhailov
// Contacts: <vladi.mikh.vm@gmail.com>
// License: http://opensource.org/licenses/MIT

// Only for adroid class
.smallHeight {
    .field_problem {
        height: @formFieldProblemHeightSmall;   
    }
}

.field_problem {
    position     : relative;
    margin       : auto;
    width        : 100%;
    height       : @formFieldProblemHeight;
    margin-bottom: @formBaseMargin;

    .field_problem__label {
        position      : absolute;
        top           : 15px;
        left          : 15px;
        color         : @colorGray;
        transition    : font-size .2s, font-weight .2s, top .2s;
        pointer-events: none;
        @inputLabel();
    }

    .field_problem__input {
        width             : 100%;
        height            : 100%;
        border            : 1px solid @colorLightGray;
        padding           : 22px 15px 10px 15px;
        border-radius     : @radiusS;
        color             : @colorBlack;
        background-color  : @colorWhite;
        transition        : background-color .2s, border .2s, color .2s;
        resize            : none;
        -webkit-appearance: none;
        -moz-appearance   : none;
        appearance        : none;
        @inputLabel();

        @media (min-width: @minDesktopResolution) {
            &:hover {
                border: 1px solid @colorMiddleGray;
            }
        }

        &:focus {
            border : 1px solid @colorBase;
            outline: none;
        }

        &:disabled {
            border          : 1px solid @colorLightGray;
            background-color: @colorLightGray025;
            color           : @colorGray;
        }

        &.invalid {
            border: 1.5px solid @colorDanger;
        }

        &:focus+.field_problem__label,
        &:not(:placeholder-shown)+.field_problem__label {
            top        : 8px;
            @inputLabelFocus();
        }
    }
}