.button_settings {
    background-color: @colorBase010;
    border-radius   : 4px;
    border          : 0 solid transparent;
    width           : 46px;
    height          : 46px;
    transition      : opacity .2s, background-color .2s;

    &:focus,
    &:hover {
        outline         : none;
        background-color: @colorBase020;
    }

    &:disabled {
        background-color: @colorLightGray;

        svg {
            path {
                fill: @colorWhite;
            }
        }
    }

    svg {
        path {
            fill      : @colorBase;
            transition: fill .2s;
        }
    }
}