// Copyright © 2021 Vladislav Mikhailov
// Contacts: <vladi.mikh.vm@gmail.com>
// License: http://opensource.org/licenses/MIT

.button_float {
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : fixed;
    padding         : 0;
    z-index         : 2;
    width           : @floatButton;
    height          : @floatButton;
    border-radius   : @radiusL;
    right           : @floatButtonRight;
    bottom          : @floatButtonBottom;
    box-shadow      : @shadowButton;
    background-color: @colorBase;
    transition      : box-shadow .2s, background-color .2s, opacity .2s, transform .2s;

    @media (min-width: @minDesktopResolution) {
        &:hover {
            background-color: @colorBlack;
            box-shadow      : @shadowButtonHover;
        }
    }

    @media (max-width: @maxMobileResolution) {
        &:active {
            transform: scale(.9);
        }
    }

    &.active {
        background-color: @colorWhite;
        box-shadow      : @shadowM;

        @media (min-width: @minDesktopResolution) {
            &:hover {
                opacity: 1;

                .button_float__cross {
                    path {
                        fill: @colorBlack;
                    }
                }
            }
        }

        .button_float__cross {
            transform: rotate(0);
            opacity  : 1;
        }

        .button_float__logo {
            opacity: 0;
        }
    }

    .button_float__logo {
        margin-top: -1px;
        opacity   : 1;

        path {
            fill: @colorWhite;
        }
    }

    .button_float__cross {
        position  : absolute;
        transform : rotate(90deg);
        opacity   : 0;
        transition: transform .2s;

        path {
            fill      : @colorBase;
            transition: fill .2s;
        }
    }
}

// If button is hidden
.button_float_hidden {
    display         : block;
    background-color: transparent;
    position        : fixed;
    border          : 0 solid transparent;
    right           : 0;
    bottom          : 0;
    z-index         : 2;
    width           : @floatButton;
    height          : @floatButton;
    cursor          : default;

    &:hover {
        cursor: default;
    }
}