.isMobile,
.takeScreenshotHidden {
    .fieldScreenshot {
        .take_screenshot {
            display: none;
        }
    
        .attach_screenshot {
            width: 100%;
            justify-content: center;

            svg {
                display: none;
            }
        }
    }
}

.fieldScreenshot {
    position     : relative;
    display      : block;
    width        : 100%;
    height       : @formBase;
    margin-bottom: @formBaseMargin + 1px;

    .take_screenshot {
        left: 0;
    }

    .attach_screenshot {
        right: 0;
    }

    .take_screenshot,
    .attach_screenshot {
        display           : flex;
        justify-content   : space-between;
        align-items       : center;
        position          : absolute;
        border            : 0 solid transparent;
        padding-left      : 15px;
        padding-right     : 10px;
        height            : 100%;
        width             : calc(50% - @formBaseMargin / 2);
        color             : @colorBase;
        background-color  : @colorBase010;
        border-radius     : @radiusS;
        transition        : background-color .2s, transform .2s;
        animation-duration: .4s;
        animation-name    : showElement;
        cursor            : pointer;
        @buttonLabel();

        @media (min-width: @minDesktopResolution) {
            &:focus,
            &:hover {
                background-color: @colorBase020;
            }
        }
    
        @media (max-width: @maxMobileResolution) {
            &:active {
                transform: scale(.95);
            }
        }

        &.hide {
            display: none;
        }

        &.invalid {
            right             : 0px;
            background-color  : @colorDanger010;
            color             : @colorDanger;
            animation-duration: .4s;
            animation-name    : shake;

            svg {
                path, circle {
                    stroke: @colorDanger;
                }
            }

            @keyframes shake {
                0% {
                    right: -6px;
                }

                20% {
                    right: 6px;
                }

                40% {
                    right: -4px;
                }

                60% {
                    right: 4px;
                }

                80% {
                    right: -2px;
                }

                90% {
                    right: 2px;
                }

                100% {
                    right: 0px;
                }
            }
        }

        input {
            display: none;
        }

        svg {
            path, circle {
                stroke: @colorBase;
            }
        }
    }

    .screenshot_info {
        display         : none;
        position        : absolute;
        align-items     : center;
        justify-content : flex-start;
        width           : 100%;
        height          : 100%;
        padding-left    : 15px;
        border          : 1px solid @colorLightGray;
        background-color: @colorLightGray025;
        color           : @colorGray;
        border-radius   : @radiusS;
        transition      : background-color .2s, border .2s, color .2s;
        opacity         : 0;
        @inputLabel();

        &.show {
            display           : flex;
            opacity           : 1;
            animation-duration: .4s;
            animation-name    : showElement;
        }
    }

    .fieldScreenshot__name {
        margin-bottom: 1px;
        text-overflow: ellipsis;
        white-space  : nowrap;
        overflow     : hidden;
        max-width    : calc(100% - 35px);
    }

    .screenshot__button_delete {
        position        : absolute;
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 40px;
        width           : 40px;
        right           : 0;
        top             : 50%;
        margin-top      : -20px;
        background-color: transparent;

        svg {
            width     : 12px;
            height    : 12px;
            opacity   : .6;
            fill      : @colorBase;
            transition: fill .2s, opacity .2s;
        }

        &:hover {
            svg {
                fill   : @colorBlack;
                opacity: 1;
            }
        }

        &:disabled {
            svg {
                fill: @colorGray;
            }
        }
    }

    @keyframes showElement {
        0% {
            display: none;
            opacity: 0;
        }

        1% {
            display: flex;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }
}